<div class="form-group">
    <label for="{{ vm.element.getId() }}" class="control-label col-sm-3">
        {{ vm.element.getLabel() }}
    </label>
    <div class="col-sm-9">
        <div class="checkbox">
            <label for="{{ vm.element.getId() }}">
                <input id="{{ vm.element.getId() }}" type="checkbox" ng-true-value="{{ vm.element.getTrueValue() }}" ng-false-value="{{ vm.element.getFalseValue() }}" ng-model="vm.modelValue">
            </label>
        </div>
    </div>
</div>