<div class="form-group" ng-class="{ 'has-error' : vm.form.title.$invalid && vm.form.title.$touched }">
    <label for="{{ vm.element.getId() }}" class="control-label col-sm-3">
        {{ vm.element.getLabel() }}
    </label>
    <div class="col-sm-9">
        <input id="{{ vm.element.getId() }}" type="text" class="form-control" ng-model="vm.modelValue" ng-minlength="{{ vm.element.getMinLength() }}" ng-maxlength="{{ vm.element.getMaxLength() }}" ng-required="{{ vm.element.getRequired() }}" />
        <div ng-messages="vm.form.title.$error" ng-show="vm.form.title.$invalid && vm.form.title.$touched" class="help-block">
            <div ng-messages-include="ui-messages.tpl.html"></div>
        </div>
    </div>
</div>
